<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo center">Diario</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Historias públicas</a></li>
            <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/auth/logout">Sair</a></li>
        </ul>
    </div>
</nav>