<h3><i class="fas fa-book-reader">Diario</i></h3>
<div class="section">
    <p class="lead">Crie seu diário de maneira publica e privada do seu dia a dia</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Login pelo google</a>
</div>